body{
}
ul.footer_menu{
  margin-left:-2%;
  
}
.container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}
.middle {
  margin:0 auto;
  width:80%;
  color:white;
}

.header-main{   
    background: #414042;
    margin-top: -1.1%;
    z-index: 100;
    position: absolute;
    height: 9%;
    width: 80%;
    right: 0;
    /* float: left; */
    height: 9%;
}
.header li{
  display:inline-block; 
  font-size:5px;
  padding:7px;
}
.time{
margin-left:26%;
}

.wifi{
  float:right;
    margin-right:5%;
    transform: rotate(45deg);
margin-top:3px;
}
h2.welcome_msg{
  position:absolute;
  top:10%;
  
}
p.welcome_msg{
  font-size:10px;
  padding-right:10%;
position:absolute;
  top:23%;
}
p.regards {
  position:absolute;
  top:38%;
}
.footer{
  background:#414042;
  position:absolute;
  bottom:0;
  height: 1px;
}

.footer li{
  display:inline-block;
  width:13%;
    height: 15%;
      margin-left:1%;
}
.footer li:hover{
  background:#BFD1E7;
  color:black;
}
.footer img{
  width:100%;
    height:100px;
}
.footer button{
  padding-top:3%;
  padding-bottom:3%;
  
  width:100%;
  background:rgb(79, 54, 41);
  border:0;
  font-size: 12px;
  border-radius:100px;
  color:white;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.header-main{
  display:inline-display;
}

.logo{
  height:9%;
  width:15%;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  margin-top:-1.1%;
}
.logo img {
margin-left: 9%;
    height: 180%;
}
li.date{
  margin-left:-10%;
}